<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    {% include 'meta.html' %}
    {% endblock %}
</head> 
<body class="dashboard-analytics admin-header">
    <!-- [ navigation menu ] start -->
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}
    <!-- [ Header ] end -->
    <!-- BEGIN LOADER -->
    {% block loader %}
        {% include 'loader.html' %}
    {% endblock %}
    <!--  END LOADER -->

        <!--  BEGIN MAIN CONTAINER  -->
        <!--  BEGIN CONTENT AREA  -->
        <div class="pcoded-main-container">
            <!-- Formulario Asistencia -->
        
            <!-- Main Content -->
            <div class="container py-4">
                <div class="col-lg-12 mb-4">
                    <!-- Approach -->
                    <div class="card shadow mb-4 rounded-2">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Registro de Asistencia</h5>
                        </div>
                        <div class="row col-12">
                            <div class="col-3 form-group">
                                <form action="/datosAsistencia" method="POST" id="formAsistencia">
                                    <label class="mt-2" for="">Seleccione la reunion:</label>
                                    
                                    <select class="form-select" name="Reunion_1" id="Reunion_1" required>
                                        <option value=""></option>
                                        {% if reuniones: %}
                                            {% for reunion in reuniones %}
                                                <option value=" {{reunion.id_reunion}} "> {{reunion.nom_reunion}} </option>
                                            {%endfor%}
                                        {% else: %}
                                            <option value="">No hay reuniones </option>
                                        {%endif%}
                                    </select><br>
                                </form>    
                            </div>  
                            <div class="col-1 form-group">
                                <label class="mt-2" for="">cuorum</label>
                                <input type="text" class="form-control" name="cuorum" id="cuorum" placeholder="No" readonly  required>
                            </div>
                            <div class="col-4 form-group">
                                <button class="btn btn-primary mt-5" id="calcularCuorum">Calcular Cuorum</button>
                            </div>
                        </div>                           
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    
                                    <tr>
                                        
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">No. Documento</th>
                                        <th scope="col">Dirección</th>
                                        <th scope="col">Correo Electronico</th>
                                        <th scope="col">Asistencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if suscriptores: %}
                                        {% for suscrip in suscriptores %}
                                        <tr>
                                            
                                            <td>{{suscrip.nom_usuario}}</td>
                                            <td>{{suscrip.apellido_usuario}}</td>
                                            <td>{{suscrip.tipo_doc}}:{{suscrip.num_doc}}</td>
                                            <td>{{suscrip.direccion}}</td>  
                                            <td>{{suscrip.correo}}</td>
                                            <td><input class="ml-4" type="checkbox" id="miCheckbox" name="miCheckbox"></td>
                                        </tr>
                                        {%endfor%}
                                    {%endif%}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a href="archivos/asistencia" download="formulario-asistencia" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Descargar Formato</a>
                    </div>
                    <div class="footer-wrapper col-xl-12 d-flex justify-content-center mt-2">
                        <div class="footer-section f-section-1">
                            <p class="">&copy; 2023 <a target="_blank"
                                    href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA -
                                    Acueducto</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
    
        <script>
            let formularioAsistencia = document.getElementById('formAsistencia');
            let reunionSelect = document.getElementById('Reunion_1');
            reunionSelect.addEventListener('change', () => {
                console.log("se envio los datos");
                formularioAsistencia.submit();
            });

            let miCheckbox = document.getElementById('miCheckbox');
            miCheckbox.addEventListener('change', () => {
                if (miCheckbox.checked) {
                    console.log("aumenta el contador");
                }else{
                    console.log("se hice --");
                }
            });
            

        </script>
    <!-- BEGIN SCRIPTS -->
    {% block scripts %}
        {% include 'scripts.html' %}
    {% endblock %}
    <!-- END SCRIPTS -->
    
    
    

</body>
</html>